/* your styles go here */
hr.divider{
	border-top: 3px double #8c8b8b;
}
/* WEB API用CSS */
#search_result_list {
	border: 1px solid #333333;
	padding: 10px;
}

.api_h2 {
	font-size:24px;
	border-bottom: solid 3px #CCCCCC;
	padding-bottom:  5px;
	position:  relative;
}
.api_h2:before {
	content:  '';
	width: 120px;                    /* 幅指定 */
	height: 3px;                    /* 高さ指定 */
	background-color: #333333;      /* 背景色指定 */
	display:  block;                /* ブロック要素にする */
	position:  absolute;            /* 位置調整 */
	left:  0;                       /* 位置調整 */
	bottom: -3px;
}

.api_h3 {
	font-size:18px;
}
.api_h3:before {
	content: "■ ";
}
.api_result {
    width: 100%;
    margin-bottom: 1rem;
/*	border-collapse: collapse;*/
}
.api_result td {
	border: 1px solid #333;
	padding: 5px;
}

#loading {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#loading img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
