<div class="lang-box-up">
    <div class="lang-box">
        <div class="lang-now">{{ .Language.LanguageName }}</div>
        <div class="wait-lang-box">
            <ul class="lang-up">
                {{ range .AllTranslations }}
                <li>
                    <a class="lang" href="{{ .RelPermalink }}" hreflang="{{ .Language.LanguageCode }}">
                        {{ .Language.LanguageName }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
